<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
	  >

  <extensions>
    <add assembly="NLog.Targets.ElasticSearch"></add>
  </extensions>
  
  <targets async="true">

    <target name="elastic" 
            xsi:type="ElasticSearch" 
            index="Mandegar" 
            uri="" 
            layout ="API:SpecificName |${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|machinename:${machinename}|endpoint:${gdc:item=EndpointName}">

    </target>

    <target name="database" xsi:type="Database" >

      <connectionString>${gdc:item=connectionString}</connectionString>

      <commandText>
        insert into dbo.Logs (
        MachineName,EndPoint, Logged, Level, Message,
        Logger, Callsite, Exception,Url
        ) values (
        @MachineName,@EndPoint, @Logged, @Level, @Message,
        @Logger, @Callsite, @Exception,@Url
        );
      </commandText>

      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@EndPoint" layout="${gdc:item=EndpointName}" />
      <parameter name="@Logged" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Callsite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
      <parameter name="@Url" layout="${aspnet-request-url:tostring}" />
 
    </target>

  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="database" />
    <!--<logger name="*" minlevel="Trace" writeTo="elastic" ></logger>-->
  </rules>

</nlog>