@model Mandegar.Models.ViewModels.Account.EmailUserActiveCodeVM

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_SendEmailActiveUser</title>
</head>
<body>
    <p>
        @Model.Email عزیز!
    </p>
    جهت بازیابی رمزعبور روی لینک زیر کلیک نمائید:
    <br />
    <a href="@Model.Domain/auth/reset-rassword?rc=@Model.ActiveCode">لینک بازیابی</a>
</body>
</html>
